<!DOCTYPE html>
<html>
	<head>
		{% block head %}
			<meta charset="UTF-8" />
			<title>
				{% block title %}
					تقویم شریف
				{% endblock %}
			</title>
			{% block stylesheets %}
				{# JQuery UI #}
				<link rel="stylesheet" href="http://localhost/src/Sharif/CalendarBundle/Resources/public/css/custom-theme/jquery-ui-1.10.3.custom.css" />

				{# Kendo UI #}
				<link rel="stylesheet" href="http://localhost/src/Sharif/CalendarBundle/Resources/public/css/kendoui/kendo.common.min.css" />
				<link rel="stylesheet" href="http://localhost/src/Sharif/CalendarBundle/Resources/public/css/kendoui/kendo.default.min.css" />

				{# noty #}
				<link rel="stylesheet" href="http://localhost/src/Sharif/CalendarBundle/Resources/public/css/noty/buttons.css" />

				{# selectize #}
				<link rel="stylesheet" href="http://localhost/src/Sharif/CalendarBundle/Resources/public/js/selectize/selectize.css" />

				{# globals #}
				<style>
					@font-face {
						font-family: 'yekan';
						src: url('{{ app.request.getSchemeAndHttpHost() }}{{ '/src/Sharif/CalendarBundle/Resources/public/font/BYekan.eot?#' }}') format('eot'), url('{{ app.request.getSchemeAndHttpHost() }}{{ '/src/Sharif/CalendarBundle/Resources/public/font/BYekan.woff' }}') format('woff'), url('{{ app.request.getSchemeAndHttpHost() }}{{ '/src/Sharif/CalendarBundle/Resources/public/font/BYekan.ttf' }}') format('truetype');
					}

					body {
						font-family: yekan;
						background-image: url('{{ app.request.getSchemeAndHttpHost() }}{{ '/src/Sharif/CalendarBundle/Resources/public/images/bg.jpg' }}');
						direction: rtl;
					}

					.ui-text-button {
						background: white;
						cursor: text;
						outline: none;
						text-align: inherit;
					}
				</style>
			{% endblock stylesheets %}
			<link rel="icon" type="image/x-icon"
					href="http://localhost/src/Sharif/CalendarBundle{{ asset('favicon.ico') }}" />
		{% endblock head %}
	</head>
	<body>
		{% block body %}{% endblock body %}

		{% block javascripts %}
			{# JQuery UI #}
			<script type="text/javascript" src="http://localhost/src/Sharif/CalendarBundle/Resources/public/js/jquery-1.8.3.js"></script>
			<script type="text/javascript" src="http://localhost/src/Sharif/CalendarBundle/Resources/public/js/myjs/jquery-ui-1.10.3.custom.js"></script>
			<script type="text/javascript" src="http://localhost/src/Sharif/CalendarBundle/Resources/public/js/myjs/jquery.ui.datepicker-cc.js"></script>
			<script type="text/javascript" src="http://localhost/src/Sharif/CalendarBundle/Resources/public/js/myjs/calendar.js"></script>
			<script type="text/javascript" src="http://localhost/src/Sharif/CalendarBundle/Resources/public/js/myjs/jquery.ui.datepicker-cc-ar.js"></script>
			<script type="text/javascript" src="http://localhost/src/Sharif/CalendarBundle/Resources/public/js/myjs/jquery.ui.datepicker-cc-fa.js"></script>

			{# Kendo UI #}
			<script type="text/javascript" src="http://localhost/src/Sharif/CalendarBundle/Resources/public/js/kendoui/kendo.web.min.js"></script>

			{# noty #}
			<script type="text/javascript" src="http://localhost/src/Sharif/CalendarBundle/Resources/public/js/noty/jquery.noty.js"></script>
			<script type="text/javascript" src="http://localhost/src/Sharif/CalendarBundle/Resources/public/js/noty/jquery.noty.js"></script>
			<script type="text/javascript" src="http://localhost/src/Sharif/CalendarBundle/Resources/public/js/noty/layouts/topLeft.js"></script>
			<script type="text/javascript" src="http://localhost/src/Sharif/CalendarBundle/Resources/public/js/noty/layouts/topRight.js"></script>
			<script type="text/javascript" src="http://localhost/src/Sharif/CalendarBundle/Resources/public/js/noty/layouts/center.js"></script>
			<script type="text/javascript" src="http://localhost/src/Sharif/CalendarBundle/Resources/public/js/noty/themes/default.js"></script>

			{# selectize #}
			<script type="text/javascript" src="http://localhost/src/Sharif/CalendarBundle/Resources/public/js/selectize/constants.js"></script>
			<script type="text/javascript" src="http://localhost/src/Sharif/CalendarBundle/Resources/public/js/selectize/utils.js"></script>
			<script type="text/javascript" src="http://localhost/src/Sharif/CalendarBundle/Resources/public/js/selectize/contrib/microevent.js"></script>
			<script type="text/javascript" src="http://localhost/src/Sharif/CalendarBundle/Resources/public/js/selectize/contrib/highlight.js"></script>
			<script type="text/javascript" src="http://localhost/src/Sharif/CalendarBundle/Resources/public/js/selectize/plugins.js"></script>
			<script type="text/javascript" src="http://localhost/src/Sharif/CalendarBundle/Resources/public/js/selectize/selectize.js"></script>
			<script type="text/javascript" src="http://localhost/src/Sharif/CalendarBundle/Resources/public/js/selectize/selectize.jquery.js"></script>
		{% endblock javascripts %}
	</body>
</html>
