{% extends "SharifCalendarBundle::baseHtml.html.twig" %}

{% block stylesheets %}
	{{ parent() }}
	<style>
		.control-button {
			margin: 2px;
		}

		.event-box {
			padding: 5px;
			width: 600px;
			margin: 5px;
		}

		.event-controls img {
			cursor: pointer;
			float: left;
			padding: 2px;
		}

		.event-date-time {
			color: grey;
			font-size: small;
			margin-top: 4px;
		}

		.label {
			border-radius: 10px;
			font-size: small;
			margin: 0 2px 14px 2px;
			padding: 5px 7px 2px 7px;
		}

		#search {
			width: 525px;
		}

		#edit-submit {
			display: none;
		}

		#tree-container {
			direction: ltr;
			padding: 5px
		}

		#wrapper {
			margin-right: -310px;
			padding: 10px;
			position: relative;
			right: 50%;
			width: 620px;
		}
	</style>
	<link rel="stylesheet" href="http://localhost/src/Sharif/CalendarBundle/Resources/public/css/mycss/newEvent.css" />
{% endblock stylesheets %}

{% block body %}
	<div id="wrapper" class="ui-state-highlight ui-corner-all">
		<div id="top-box">
			<input type="search" id="search" placeholder="جستجو...">
			<button id="go">جستجو</button>
		</div>
		<div id="tree-container"><div id="tree-view"></div></div>
		<div id="result-container"></div>
	</div>
	<div id="dialog"></div>
{% endblock body %}

{% block javascripts %}
	{{ parent() }}
	<script>
		var selectedEventId = -1;
		var localDataSource = new kendo.data.HierarchicalDataSource({
			data: {{ labels|raw }}
		});

		$(document).ready(function() {
			var search = $("#search");
			var tree_view = $('#tree-view');
			var go = $('#go');
			go.button();
			search.addClass(
					'ui-button ui-state-default ui-corner-all ui-text-button ui ');
			tree_view.kendoTreeView({
				checkboxes:         true,
				dataImageUrlField:  "image",
				dataSource:         localDataSource,
				dataTextField:      "text",
				loadOnDemand:       false
			});

			search.change(reload);
			go.click(reload);
			nodes = $("#tree-view li");
			for(i = 0; i < nodes.length; ++i) {
				var uid = nodes[i].getAttribute("data-uid");
				var node = localDataSource.getByUid(uid);
				node.image = colorToImageUrl(node.color);
			}
			updateTreeView();
		});
	</script>

	<script>
		function addReminder(id) {
			$.ajax({
				url:    '{{ path('sharif_calendar_add_reminder') }}',
				data:   id.toString(),
				type: 'post'
			}).done(function(msg) {
				var img = $('#img-'+id);
				img.unbind('click');
				img.click(function(e) {
					removeReminder(id);
				});
				img.attr('src', '{{ app.request.getSchemeAndHttpHost()}}{{ '/src/Sharif/CalendarBundle/Resources/public/images/reminder-not.png' }}');
			}).fail(function(msg) {
				noty({
					text: 'ایجاد یادآور با مشکل مواجه شد. لطفاً دوباره تلاش نمایید.',
					layout: 'topRight',
					type: 'warning',
					closeWith: ['hover']
				});
			});
		}

		function bindClickAddReminder(id) {
			$('#img-'+id).click(function() {
				addReminder(id);
			});
		}

		function bindClickDelete(id) {
			$('#img3-'+id).click(function() {
				confirmDeleteEvent(id);
			});
		}

		function bindClickEdit(id) {
			$('#img2-'+id).click(function() {
				editEvent(id);
			});
		}

		function bindClickRemoveReminder(id) {
			$('#img-'+id).click(function() {
				removeReminder(id);
			});
		}

		function checkedNodes(data) {
			var result = [];
			for(i = 0; i < data.length; ++i) {
				if(data[i].checked) {
					result.push(data[i].id);
				}
				if(data[i].hasChildren) {
					var temp = checkedNodes(data[i].children._data);
					for(j = 0; j < temp.length; ++j) {
						result.push(temp[j]);
					}
				}
			}
			return result;
		}

		function colorToImageUrl(color) {
			// Create an empty canvas element
			var canvas = document.createElement("canvas");
			canvas.width = 15;
			canvas.height = 15;

			// Draw a circle
			var ctx = canvas.getContext("2d");
			ctx.beginPath();
			ctx.arc(7, 7, 7, 0, Math.PI*2, true);
			ctx.closePath();
			ctx.fillStyle=color;
			ctx.fill();

			// Get the data-URL formatted image
			return canvas.toDataURL("image/png");
		}

		function confirmDeleteEvent(id) {
			var title = $('#event-'+id+' .event-title').text().trim();

			noty({
				text: 'آیا می‌خواهید رویداد «' + title + '» حذف شود؟',
				layout: 'center',
				type: 'error',
				closeWith: ['button'],
				buttons: [ {
					addClass: 'btn btn-primary', text: 'خیر', onClick: function($noty) {
						$noty.close();
					}
				}, {
					addClass: 'btn btn-danger', text: 'بله', onClick: function($noty) {
						$noty.close();
						deleteEvent(id);
					}
				}]
			});
		}

		function deleteEvent(id) {
			var event = $('#event-'+id);
			var title = $('#event-'+id+' .event-title').text().trim();

			$.ajax({
				url:    '{{ path('sharif_calendar_delete_event') }}',
				data:   id.toString(),
				type: 'post'
			}).done(function(msg) {
				noty({
					text: 'رویداد «' + title + '»' + 'حذف شد.',
					layout: 'topRight',
					type: 'success',
					closeWith: ['hover']
				});
				event.slideUp(function() {
					event.parentNode.removeChild(event);
				});
			}).fail(function(msg) {
				console.log(msg);
				noty({
					text: 'حذف رویداد «' + title + '»' + 'با مشکل مواجه شد.',
					layout: 'topRight',
					type: 'error',
					closeWith: ['hover']
				});
			});
		}

		function editEvent(id) {
			$.ajax({
				type:   'POST',
				data:   id.toString(),
				url:    '{{ path('sharif_calendar_edit_event_form') }}'
			}).done(function(msg) {
				console.log(msg);
				var dialog = $('#dialog');
				dialog.html(msg);
				dialog.dialog({
					width:  645,
					buttons: [
						{
							text: "بستن",
							click: function() {
								$('#submit').click();
								$( this ).dialog( "close" );
							}
						},
						{
							text: "تایید",
							click: function() {
								$( this ).dialog( "close" );
							}
						}
					],
					closeOnEscape:  false,
					closeText: 'بستن',
					height: 'auto',
					hide:   'fold',
					modal:  true,
					resizable:  false,
					show:   'fold',
					title:  'ویرایش رویداد'
				});
			}).fail(function(msg) {
				noty({
					text: 'بارگیری اطلاعات مورد نظر با مشکل مواجه شد. لطفاً دوباره تلاش کنید.',
					layout: 'topRight',
					type: 'error',
					closeWith: ['button'],
					buttons: [ {
						addClass: 'btn btn-primary', text: 'دوباره', onClick: function($noty) {
							$noty.close();
							editEvent(id);
						}
					}, {
						addClass: 'btn btn-danger', text: 'لغو', onClick: function($noty) {
							$noty.close();
						}
					}]
				});
			});
		}

		function reload() {
			console.log(JSON.stringify({
				term:           $('#search').val(),
				checkedLabels:  checkedNodes(localDataSource._data)
			}));
			$.ajax({
				url:    "{{ path('sharif_calendar_enlist_events') }}",
				data:   JSON.stringify({
					term:           $('#search').val(),
					checkedLabels:  checkedNodes(localDataSource._data)
				}),
				type: "post"
			}).done(function(msg) {
				console.log(msg);
				var result_container = $('#result-container');
				var html = "";
				for(i = 0; i < msg.length; ++i) {
					var event = msg[i];
					var box =
						("<div class='event-box ui-state-highlight ui-corner-all' id='event-__ID__'>" +
						"   <div class='event-controls'>" +
						"       <img class='reminder-button control-button' id='img-__ID__' src='{{ app.request.getSchemeAndHttpHost()}}{{ '/src/Sharif/CalendarBundle/Resources/public/images/__REMIND__' }}' title='ایجاد یادآوری' />" +
						(event['mine'] ?
							"<img class='edit-button control-button' id='img2-__ID__' src='{{ app.request.getSchemeAndHttpHost()}}{{ '/src/Sharif/CalendarBundle/Resources/public/images/edit.png' }}' title='ویرایش' />" +
							"<img class='remove-button control-button' id='img3-__ID__' src='{{ app.request.getSchemeAndHttpHost()}}{{ '/src/Sharif/CalendarBundle/Resources/public/images/remove.png' }}' title='حذف' />" : "") +
						"   </div>" +
						"   <div class='event-title'>" +
						"       <h4>__TITLE__</h4>" +
						"   </div>" +
						"   <div class='event-description'>__DESCRIPTION__</div>" +
						"   <hr/>" +
						"   <div class='labels-box'>__LABELS__</div>" +
						"   <div class='event-date-time'>" +
						"       <span class='event-date'>__DATE__</span>" +
						"       <span class='event-time'>__TIME__</span>" +
						"   </div>" +
						"</div>")
						.replace(/__TITLE__/g, event['title'])
						.replace(/__ID__/g, event['id'])
						.replace(/__DESCRIPTION__/g, event['description'])
						.replace(/__DATE__/g, event['date']['string'])
						.replace(/__REMIND__/g, event['hasReminder'] ?
							'reminder-not.png' : 'reminder.png')
						.replace(/__TIME__/g, (event['time'] != null) ?
							event['time']['string'] : '');
					var labels = "";
					for(j = 0; j < event['label'].length; ++j) {
						labels +=
							"<span class='label' style='background-color: __COLOR__;' title='__DESCRIPTION__'>__NAME__</span>"
							.replace(/__COLOR__/g,
								'#' + event['label'][j]['color'].toString(16))
							.replace(/__NAME__/g, event['label'][j]['name'])
							.replace(/__DESCRIPTION__/g,
								event['label'][j]['description']);
					}
					box = box.replace(/__LABELS__/g, labels);
					html += box;
				}
				result_container.slideUp(function() {
					result_container.html(html);
					$('.control-button').button();
					for(i = 0; i < msg.length; ++i) {
						if(msg[i]['hasReminder']) {
							bindClickRemoveReminder(msg[i]['id']);
						} else {
							bindClickAddReminder(msg[i]['id']);
						}
						bindClickEdit(msg[i]['id']);
						bindClickDelete(msg[i]['id']);
					}
					result_container.slideDown();
				});
			}).fail(function(msg) {
				noty({
					text: 'جستجو با مشکل مواجه شد. لطفاً دوباره تلاش نمایید.',
					layout: 'topRight',
					type: 'error',
					closeWith: ['button'],
					buttons: [ {
						addClass: 'btn btn-primary',
						text: 'دوباره',
						onClick: function($noty) {
							$noty.close();
							reload();
						}
					}, {
						addClass: 'btn btn-danger',
						text: 'لغو',
						onClick: function($noty) {
							$noty.close();
						}
					}]
				});
			});
		}

		function removeReminder(id) {
			$.ajax({
				url:    '{{ path('sharif_calendar_remove_reminder') }}',
				data:   id.toString(),
				type: 'post'
			}).done(function() {
				var img = $('#img-'+id);
				img.unbind('click');
				img.click(function(e) {
					addReminder(id);
				});
				img.attr('src', '{{ app.request.getSchemeAndHttpHost()}}{{ '/src/Sharif/CalendarBundle/Resources/public/images/reminder.png' }}');
			}).fail(function() {
				noty({
					text: 'حذف یادآور با مشکل مواجه شد. لطفاً دوباره تلاش نمایید.',
					layout: 'topRight',
					type: 'warning',
					closeWith: ['hover']
				});
			});
		}

		function updateTreeView() {
			$("#tree-container").html(
					"<div class=\"treeView\" id=\"tree-view\"></div>");
			$("#tree-view").kendoTreeView({
				checkboxes:         true,
				dataImageUrlField:  "image",
				dataSource:         localDataSource,
				dataTextField:      "text",
				loadOnDemand:       false
			});
		}
	</script>
{% endblock javascripts %}
