{% extends "SharifCalendarBundle::baseHtml.html.twig" %}

{% block body %}
	<div>
		{% for key, message in app.session.getFlashes() %}
			<div class="{{ key }}">
				{{ message }}
			</div>
		{% endfor %}
	</div>

	<form id="fp_openid_login" method="post"
			action="{{ path("fp_openid_security_check") }}" >
		<label for="openid_identifier">Identifier: </label>
		<input type="text" id="openid_identifier"
				name="openid_identifier"
				value="" />
		<br />
		<input type="submit" id="_submit" name="_submit" value="submit" />
		<input type="hidden"
				id="target_path"
				name="_target_path"
				value="" />
	</form>
	<hr />
	<form method="post" {{ form_enctype(formUserPass) }}>
		{{ form_rest(formUserPass) }}
		<input type='hidden' name='form' value='userPass' />
		<input type='submit' value="{{ 'register'|trans }}" />
	</form>
{% endblock body %}
