{% extends "SharifCalendarBundle::baseHtml.html.twig" %}

{% block stylesheets %}
	{{ parent() }}
	<style>
		.cute-button {
			display: inline-block;
		}

		.cute-icon {
			cursor: pointer;
			height: 50px;
		}

		label {
			display: inline-block;
			width: 110px;
		}

		#cute-button-container {
			text-align: center;
		}

		#header-box {
			text-align: center;
		}

		#openid_identifier {
			direction: ltr;
		}

		#wrapper {
			right: -162px;
			margin-right: 50%;
			padding: 10px;
			position: relative;
			width: 325px;
		}
	</style>
{% endblock stylesheets %}

{% block body %}
	<div id="wrapper" class="ui-state-highlight ui-corner-all">
		<div id="header-box">
			<h1>ثبت نام</h1>
		</div>
		<form method="post" {{ form_enctype(formUserPass) }}>
			{{ form_rest(formUserPass) }}
			<input type='hidden' name='form' value='userPass' />
			<input type='submit' value="ثبت‌نام" />
		</form>
		<hr />
		<form id="fp_openid_login" method="post"
				action="{{ path("fp_openid_security_check") }}" >
			<div id="cute-button-container">
				<div id="yahoo-cute-button" class="cute-button">
					<img class="cute-icon" src="{{ app.request.getSchemeAndHttpHost() }}{{ '/src/Sharif/CalendarBundle/Resources/public/images/yahoo-logo.png' }}">
				</div>
				<div id="google-cute-button" class="cute-button">
					<img class="cute-icon" src="{{ app.request.getSchemeAndHttpHost() }}{{ '/src/Sharif/CalendarBundle/Resources/public/images/google-logo.png' }}">
				</div>
			</div>

			<label for="openid_identifier">شناسه</label>
			<input type="text" id="openid_identifier"
					name="openid_identifier" value="" placeholder="Open ID"/>
			<br />
			<input type="submit" id="_submit" name="_submit" value="ثبت‌نام" />
			<input type="hidden"
					id="target_path"
					name="_target_path"
					value="" />
		</form>
	</div>
{% endblock body %}

{% block javascripts %}
	{{ parent() }}
	<script>
		$(document).ready(function() {
			$('input[type=text],input[type=password],input[type=email]')
					.addClass('ui-button ui-state-default ui-corner-all ui-text-button ui ');
			$('input[type=submit]').button();
		});
	</script>

	<script>
		$('#yahoo-cute-button').click(function(e) {
			$('#openid_identifier').val('http://me.yahoo.com/');
			$('#fp_openid_login').submit();
		});
		$('#google-cute-button').click(function(e) {
			$('#openid_identifier').
					val('https://www.google.com/accounts/o8/id');
			$('#fp_openid_login').submit();
		});
	</script>
{% endblock javascripts %}
