{% extends "SharifCalendarBundle::baseHtml.html.twig" %}

{% block stylesheets %}
	<style>
		.cute-icon {
			cursor: pointer;
			height: 50px;
		}
		.cute-button {
			display: inline-block;
		}
	</style>
{% endblock stylesheets %}

{% block body %}
	<div>
		{% for key, message in app.session.getFlashes() %}
			<div class="{{ key }}">
				{{ message }}
			</div>
		{% endfor %}
	</div>

	<form id="fp_openid_login" method="post"
			action="{{ path("fp_openid_security_check") }}" >
		<div id="cute-button-container">
			<div id="yahoo-cute-button" class="cute-button">
				<img class="cute-icon" src="{{ app.request.getSchemeAndHttpHost() }}{{ '/src/Sharif/CalendarBundle/Resources/public/images/yahoo-logo.png' }}">
			</div>
			<div id="google-cute-button" class="cute-button">
				<img class="cute-icon" src="{{ app.request.getSchemeAndHttpHost() }}{{ '/src/Sharif/CalendarBundle/Resources/public/images/google-logo.png' }}">
			</div>
		</div>

		<label for="openid_identifier">Identifier: </label>
		<input type="text" id="openid_identifier"
				name="openid_identifier"
				value="" />
		<br />
		<input type="submit" id="_submit" name="_submit" value="submit" />
		<input type="hidden"
				id="target_path"
				name="_target_path"
				value="" />
	</form>
	<hr />
	<form method="post" {{ form_enctype(formUserPass) }}>
		{{ form_rest(formUserPass) }}
		<input type='hidden' name='form' value='userPass' />
		<input type='submit' value="{{ 'register'|trans }}" />
	</form>
{% endblock body %}

{% block javascripts %}
	{{ parent() }}
	<script>
		$('#yahoo-cute-button').click(function(e) {
			$('#openid_identifier').val('http://me.yahoo.com/');
			$('#fp_openid_login').submit();
		});
		$('#google-cute-button').click(function(e) {
			$('#openid_identifier').
					val('https://www.google.com/accounts/o8/id');
			$('#fp_openid_login').submit();
		});
	</script>
{% endblock javascripts %}
